* {
	margin: 0;
	padding: 0;
	font-family: 'Century gothic';
	box-sizing: border-box;
}

.logo {
	width: 100%;
	height: 667px;
}

.bgLogo {
	width: 100%;
	height: 250px;
	/*background-color: blue;*/
	text-align: center;
	overflow: hidden;
}

.bgLogo h2 {
	margin-top: 40px;
	font-size: 30px;	
}

.bgLogo h3 {
	/*margin-top: 20px;*/
	font-size: 30px;
}

.logoAsli {
	width: 90px;
	height: 40px;
	background-color: #821413;
	margin: 0 auto;
	color: white;
	text-align: center;
	line-height: 40px;
	border-radius: 25px;
	margin-top: 10px; 
}

.bag65 {
	width: 65%;
	height: 667px;
	/*background-color: #F6EEEE;*/
	background-image: url(login/bgg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	box-sizing: border-box;
	float: left;
	/*padding-top: 5px;*/
}

.bag35 {
	width: 35%;
	height: 667px;
	background-color: #F6EEEE;
	/*background-image: url(login/bg.jpg);*/
	background-size: cover;
	background-repeat: no-repeat;
	box-sizing: border-box;
	float: right;
}

.gambar {
	width: 550px;
	height: 390px;
	/*background-color: green;*/
	background-image: url(login/g.png);
	background-size: 550px 390px;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: 17px;
	float: none;
}

.register{
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 500px;
	height: 722px;
}
h1{
	position: fixed;
	top: 0;
	right: 100;
	width: 500px;
	margin-top: 40px;
	margin-left: 40px;
	font-weight: 300;
	font-size: 28px;
}
p{
	margin-top: 45px;
	margin-left: 40px;
	margin-bottom: 60px;
}
input[type="text"]{
	display: block;
	box-sizing: border-box;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 39px;
	padding: 4px;
	width: 270px;
	height: 32px;
	border: none;
	outline: none;
	border-bottom: 1px solid #aaa;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2% ease;
}
input[type="Email"]{
	display: block;
	box-sizing: border-box;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 39px;
	padding: 4px;
	width: 270px;
	height: 32px;
	border: none;
	outline: none;
	border-bottom: 1px solid #aaa;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2% ease;
}
input[type="password"]{
	display: block;
	box-sizing: border-box;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 39px;
	padding: 4px;
	width: 270px;
	height: 32px;
	border: none;
	outline: none;
	border-bottom: 1px solid #aaa;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2% ease;
}
input[type="submit"]{
	margin-bottom: 20px;
	width: 270px;
	height: 32px;
	background: #1e90ff;
	border: none;
	border-radius: 2px;
	color: #fff;
	margin-top: 10px;
/* 	margin-left: 39px; */
	font-weight: 500;
	text-transform: uppercase;
	transition: 0,2px ease;
	cursor: pointer;
}
input[type="checkbox"]{
	margin-left: 40px;
	margin-top: 10px;
}
input[type="submit"]:hover,
input[type="submit"]:focus{
	background: #00bfff;
	transition: 0.2s ease;
}
.signupwith{
	display: block;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 39px;
	font-size: 20px;
	color: #000000;
	/*text-align: center;*/
}
button.social{
	margin-bottom: 20px;
	margin-left: 39px;
	width: 270px;
	height: 36px;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-weight: 500;
	transition: 0.2s ease;
	cursor: pointer;
}
.facebook{
	background: #32508e;
}
.google{
	background: #dd4b39;
}
