* {
    box-sizing: border-box;
}

.FORM {
    margin: 0 auto;
    overflow: hidden;
    float: left;
    background-image:url(img/malte-wingen-5qT09yIbROk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -400px;
}

.form {
    width: 500px;
    height: 700px;
    margin: 0 auto;
}

.garis {
    border: 2px solid black;
}

.form h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
.form h2 {
    font-size: 18px;
    margin-top: 30px;
}

.nama {
    width: 310px;
    margin-right: 10px;
    float: right;
}

.tempat {
    width: 160px;
    margin-left: 3px;
    color: black;
}

.alamat {
    width: 310px;
    margin-right: 10px;
    float: right;
}

.laki {
    margin-left: 50px;
}

.wa {
    width: 310px;
    margin-right: 10px;
    float: right;
}

.email {
    width: 310px;
    margin-right: 10px;
    float: right;
}

.judul {
    width: 310px;
    margin-right: 10px;
    float: right;
}

.NoID {
    width: 310px;
    margin-right: 10px;
    float: right;
}

.sumbit {
    
}